name: LinkedIn Quick_Apply

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  apply-jobs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run QuickApply Bot
        env:
          LI_EMAIL: ${{ secrets.LI_EMAIL }}
          LI_PASSWORD: ${{ secrets.LI_PASSWORD }}
        run: python main.py
